{% load i18n thumbnail staticfiles wishlists_tags core_tags %}

<div class="product-list-item-wrap clearfix">
    <div class="product-list-item clearfix">
        <div class="img-wrap">
            <a href="{{ product.get_absolute_url }}">
            {% if product.image %}
                {% if product.image|is_portrait %}
                    {% thumbnail product.image.file "x191" crop="top" as imt %}
                        <img class="img-responsive img-item" src="{{ imt.url }}" alt="{{product.image.alt|default:product.title}}"/>
                    {% endthumbnail %}
                    {% else %}
                    {% thumbnail product.image.file "276x191" crop="top" as imt %}
                        <img class="img-responsive img-item" src="{{ imt.url }}" alt="{{product.image.alt|default:product.title}}"/>
                    {% endthumbnail %}
                {% endif %}
            {% else %}
                <img class="img-responsive" src="{% static "images/no-image.png" %}" alt="" />
            {% endif %}
            </a>
        </div>
        
        <a class="title-item" href="{{ product.get_absolute_url }}">
            {{ product.title }}
            {% if product.part_number %} ({{ product.part_number }}){% endif %}
        </a>
        <div class="clearfix margBot10">
            <div class="price-item pull-left">{{ product.get_price_out|safe }}</div>
            {% comment %}
            <div class="price-item price-old pull-left">{{ product.get_price_out|safe }}</div><!-- Для акций старая цена -->
            <div class="price-item price-new pull-left">{{ product.get_price_out|safe }}</div><!-- Для акций новая цена -->
            <div class="price-item price-new red pull-left">{{ product.get_price_out|safe }}</div><!-- Для акций новая цена  красного цвета -->            {% endcomment %}
            <div class="pull-right text-right clearfix">
                <div class="ratings">
                    <div class="ratings_static"></div>
                    <div class="ratings_displayed" style="width: 80%"></div>
                </div>
                <br class="clear">
                <div class="meta-info review">
                    <a href="#"><i class="fa fa-comments-o"></i> 500 отзывов</a>
                </div>
            </div>
        </div>
        
        <div class="clearfix bottom-product-item">
        	{% if user.is_authenticated %}
	        	{% with user|wishlists as wishlist_set %}
	        	{% with product|get_content_type as ctype %}
		        	{% if wishlist_set|length <= 1 %}
		            <a class="to-wishlist pull-left js-ajax-link" href="javascript:void(0)" data-result=".wishlists-popup .list" data-url="{% url 'wishlist_add_item' ctype product.pk %}" data-callback="$('.wishlists-popup .list').classFade('hovered', 2000)"><i class="fa fa-heart-o"></i> В список желаний</a>
		            {% else %}
		            <div class="dropup">
		            	<a class="to-wishlist pull-left" href="javascript:void(0)" id="wish_{{product.pk}}" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-heart-o"></i> В список желаний</a>
		            	<ul class="dropdown-menu" role="menu" aria-labelledby="wish_{{product.pk}}">
		            		{% for w in wishlist_set %}
		            		<li role="presentation"><a role="menuitem" class="js-ajax-link" tabindex="-1" href="javascript:void(0)" data-result=".wishlists-popup" data-url="{% url 'wishlist_add_item_concrete' ctype product.pk w.id %}" data-callback="$('.wishlists-popup .list').classFade('hovered', 2000)">{{w.name}}</a></li>
		            		{% endfor %}
		            	</ul>
		            </div>
		            {% endif %}
	            {% endwith %}
	            {% endwith %}
            {% else %}
            <a class="to-wishlist pull-left" href="{% url 'login' %}"><i class="fa fa-heart"></i> В список желаний</a>
            {% endif %}
            <button type="button" class="btn green-border add-to-cart btn-default pull-right js-ajax-link" data-url="{% url "add_product" product.pk %}" data-result=".user-cart" data-callback="$('.user-cart .list').classFade('hovered', 2000)" data-replace="1"><i class="fa fa-cart-plus"></i> Купить</button>
        </div>
        
        <div class="clearfix bottom-product-item more-descr-item clearfix">
            <ul class="list-unstyled ">
                <li><span>Питание:</span>  Никель-кадмиевый аккумулятор</li>
                <li><span>Тип патрона:</span> Быстрозажимной</li>
                <li><span>Ключевые особенности:</span> Реверс</li>
            </ul>
         </div>
        
        {% comment %}
        <!-- Лейблы на товары для акций -->
        <div class="action green">Хит цена</div>
        <div class="action red">Акция</div>
        {% endcomment %}
    </div>
</div>

