{% extends "overviews/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load endless %}

{% block title %}{% trans "My overviews" %}{% endblock %}


{% block crumbs %} 
		<li class="current"><a href="{% url 'overviews_my' %}">{% trans "My overviews" %}</a></li>
{% endblock %}



{% block content-sb-left %}
	<div class="medium-9 large-10 columns goods-list">
{% endblock content-sb-left %}
	
{% block content-body %}
	<div class="title-block margBot20">
		<h1>{% trans "My overviews" %}</h1>
	</div>
	
	
	<dl class="sub-nav filters noMarg">
	  <dt>{% trans "Filter" %}:</dt>
	  <dd {% if filter_title == "All" %} class="active"{% endif %}><a href="{% url 'overviews_my' %}">All</a></dd>
	  <dd {% if filter_title == "Published" %} class="active"{% endif %}><a href="{% url 'overviews_my' %}?published=1">{% trans "Published" %}</a></dd>
	  <dd {% if filter_title == "Moderated" %} class="active"{% endif %}><a href="{% url 'overviews_my' %}?moderated=1">{% trans "Moderated" %}</a></dd>
	  <dd {% if filter_title == "Draft" %} class="active"{% endif %}><a href="{% url 'overviews_my' %}?draft=1">{% trans "Draft" %}</a></dd>
	</dl>
	<hr />
	{% if overviews_list %}
	<div class="head-tb clearfix">
		<div class="columns small-1">№</div>
		<div class="columns small-3">{% trans "Title product" %}</div>
		<div class="columns small-4">{% trans "Title overview" %}</div>
		<div class="columns small-2">{% trans "Status" %}</div>
		<div class="columns small-2"></div>
	</div>
	
	{% paginate per_page overviews_list %}
	
	{% for overview in overviews_list %}
	<div class="row-tb clearfix delete_product_{{ product.pk }}">
		<div class="columns small-1">{{ forloop.counter }}</div>
		<div class="columns small-3"><a target="_blank" href="{{ overview.entry.get_absolute_url }}">{{ overview.entry.title|striptags|safe }}</a></div>
		<div class="columns small-4"><a target="_blank" {% if overview.status == 2 %}href="{{ overview.get_absolute_url }}"  title="{% trans "Detail" %}"{% else %}href="{{ overview.get_absolute_preview_url }}" title="{% trans "Preview" %}"{% endif %}>{{ overview.title|striptags|safe }}</a></div>
		<div class="columns small-2">
				{% if overview.status == 0 %}
					<span>{% trans 'Draft' %}</span>
				{% elif overview.status == 1 %}
					<span>{% trans 'Moderated' %}</span>
				{% elif overview.status == 2 %}
					<span class="green-second">{% trans 'Published' %}</span>
				{% endif %}
		</div>
		<div class="columns small-2 text-center">
			<ul class="button-group">
				{% if overview.status == 0 %}
					<li><a title="{% trans 'moderated' %}" class="blue-btn button" data-reveal-id="moderated_modal_overview" onclick="product('{% url 'overviews_moderated_popup' overview.pk %}')"><i class="fi-clipboard-pencil"></i></a></li>
					<li><a title="{% trans 'edit' %}" class="green-btn button" href="{% url 'overviews_edit' overview.pk %}"><i class="fi-pencil"></i></a></li>
					<li><a title="{% trans 'delete' %}" data-reveal-id="delete_modal_overview" onclick="product('{% url 'overviews_delete_popup' overview.pk %}')" class="red-btn button" data-reveal><i class="fi-x"></i></a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	{% endfor %}
	
	<div id="paginator" class="clearfix">
		<div class="row">
			<div class="small-12 medium-7 large-9 columns">
				{% show_pages %}
			</div>
		
		    <div class="small-12 medium-5 large-3 columns">
		      <div class="row">
		      	<form>
			        <div class="small-8 columns">
			          <label for="" class="right inline" style="font-weight: normal;">{% trans "Show per page" %}:</label>
			        </div>
			        <div class="small-4 columns">
			        	<select class="fs13 page" onchange="Redirect('?set_per_page=', '{{ getvars }}', 'page', '{% url 'overviews_my' %}');" >
							<option {% if paginator == '10' %}selected{% endif %}>10</option>
							<option {% if paginator == '25' %}selected{% endif %}>25</option>
							<option {% if paginator == '50' %}selected{% endif %}>50</option>
						</select> 
			        </div>
			    </form>
		      </div>
			</div>
		</div>
	</div>
	{% include 'overviews/includes/popup_delete_overview.html' %}
	{% include 'overviews/includes/popup_moderated_overview.html' %}
	{% else %}
		{% trans 'No overviews' %}
	{% endif %}
{% endblock %}