{% extends "overviews/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{{ object.title|striptags|safe }}{% endblock %}
{% block description %}{{ object.description|safe|striptags|truncatechars:160 }}{% endblock %}
{% block keywords %}{{ object.title|striptags }}{% endblock %}

{% block crumbs %}
	<li><a href="{{ object.entry.category.parent.get_absolute_url }}">{{ object.entry.category.parent.title }}</a></li> 
	<li><a href="{{ object.entry.category.get_absolute_url }}">{{ object.entry.category.title }}</a></li> 
	<li><a href="{{ object.entry.get_absolute_url }}">{{ object.entry.title }}</a></li> 
	<li class="current"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li> 
{% endblock %}

{% block biz-sbnav %}
{% endblock biz-sbnav %}

{% block content-body %}
<div class="title-block">
	<h1>{{ object.title|striptags|safe }}</h1>
</div>

<div class="detail-wrap clearfix">
	{% if object.image|is_portrait %}
		{% thumbnail object.image "x200" crop="center" as imt %}
			<img class="left th margin-img" src="{{ imt.url }}"/>
		{% endthumbnail %}
	{% else %}
		{% thumbnail object.image "300x200" crop="center" as imt %}
			<img class="left th margin-img" src="{{ imt.url }}"/>
		{% endthumbnail %}
	{% endif %}
	{{ object.body_html|safe }}
</div>
{% endblock %}



