{% extends "overviews/base.html" %}
{% load i18n %}

{% block title %}{% if edit %}{% trans "Edit overview " %}{% else %}{% trans "Add overview " %}{% endif %}{{ object.title|striptags|safe }}{% endblock %}

{% block crumbs %}
	<li><a href="{{ object.category.parent.get_absolute_url }}">{{ object.category.parent.title }}</a></li> 
	<li><a href="{{ object.category.get_absolute_url }}">{{ object.category.title }}</a></li> 
	<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li> 
	<li class="current"><a href="{% url 'overviews_add' object.pk %}">{% if edit %}{% trans "Edit overview" %}{% else %}{% trans "Add overview" %}{% endif %}</a></li> 
{% endblock %}

{% block content-sb-left %}

<div class="medium-9 large-10 columns">
{% endblock content-sb-left %}


{% block content-body %}
<div class="title-block">
	<h1>{% if edit %}{% trans "Edit overview " %}{% else %}{% trans "Add overview " %}{% endif %}{{ object.title|striptags|safe }}</h1>
</div>

<div class="detail-wrap">
	<div class="content active" >
		{{ form.media }}
		<form action="." class="noMargBot" method="post" enctype="multipart/form-data" data-abide>{% csrf_token %}
			<div class="row">
				<div class="title-field small-12 columns">
					<label {% if form.title.errors %}class="error"{% endif %} for="id_title">{{ form.title.label }}<small>*</small></label>
					{{ form.title }}
					{{ form.title.errors }}
					<small class="error noMargBot">{% trans "This field is required." %}</small>
				</div>
			</div>
			<div class="row">
				<div class="edrpou-field  small-12 columns">
					<label {% if form.image.errors %}class="error"{% endif %} for="id_image">{{ form.image.label }}</label>
					{{ form.image }}
					{{ form.image.errors }}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<label {% if form.body_html.errors %}class="error"{% endif %} for="id_body_html">{{ form.body_html.label }}<small>*</small></label>
					{{ form.body_html }}
					{{ form.body_html.errors }}
					<small class="error noMargBot">{% trans "This field is required." %}</small>
				</div>
			</div>
			
			<div class="row">
				<div class="small-12 columns">
					<input type="submit" class="button noMargBot" value="Save" />
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
