<div class="js-user-avatar">
	{% include "userprofiles/ajax/avatar.html" %}
</div>
<form action="{% url 'avatar_profile' %}" method="post" id='avatar_upload_form' class="noMargBot style_butt" enctype="multipart/form-data" accept-charset="UTF-8"> {% csrf_token %}
		<a type="button" class="btn green-border btn-block pull-right js-avatar-load">{{ form.avatar }}<i class="fa fa-file-image-o"></i> Выбрать картинку</a>
</form>