{% load i18n %}

<div id="delete_modal_overview" class="reveal-modal small text-center" data-reveal> 
	<div class="title-section">{% trans 'Delete overview' %}</div> 
	<p>{% trans 'Are you sure you want to delete overview?' %}</p> 
	<a class="close-reveal-modal">&#215;</a>
	<div class="change_delete"></div> 
</div>	