{% load i18n pagesmisc_tags %}

<div id="moderated_modal_overview" class="reveal-modal small text-center" data-reveal> 
	<div class="title-section">{% trans 'Moderated overview' %}</div> 
	{% pm_put_body 'msg-overview-moderated' %}
	<a class="close-reveal-modal">&#215;</a>
	<div class="change_delete"></div> 
</div>	