{% load thumbnail %}

{% if slide_list %}
<div id="main-slider" class="carousel slide margBot20" data-ride="carousel">
    
<!-- Indicators -->
<ol class="carousel-indicators">
{% for slider in slide_list %}
    <li data-target="#main-slider"{% if forloop.first %} class="active"{% endif %} data-slide-to="{{ forloop.counter0 }}"></li>
{% endfor %}
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    {% for slider in slide_list %}
      <div class="item{% if forloop.first %} active{% endif %}">
        {% thumbnail slider.image "892x450" crop="top" as imt %}
            {% if slider.url %}
                <a href="{{ slider.url }}" target="_blank"><img src="{{ imt.url }}" alt="{{ slide.name }}"></a>
            {% else %}
                <img src="{{ imt.url }}" alt="{{ slide.name }}" />
            {% endif %}
        {% endthumbnail %}
        {% if slider.caption %}
            <div class="carousel-caption">
                {{ slider.caption|striptags|safe }}
            </div>
        {% endif %}
      </div>
    {% endfor %}
</div>

<!-- Controls -->
<a class="left carousel-control" href="#main-slider" role="button" data-slide="prev"><span></span></a>
<a class="right carousel-control" href="#main-slider" role="button" data-slide="next"><span></span></a>

</div>
{% endif %}
