{% load i18n %}


{% for overview in overviews %}
	<div class="row">
		<div class="small-12 columns">
			<div class="overview-item">
			<h3><a href="{{ overview.get_absolute_url }}">{{ overview.title|striptags|safe }}</a></h3>
			<span class="date">{{ overview.published_at }}</span><br />
				<p>
					{{ overview.body_html|striptags|safe|truncatechars:300 }}<br />
					<a class="right" href="{{ overview.get_absolute_url }}">{% trans "Read overview" %}</a>
				</p>
			
			</div>
		</div>
	</div>
{% empty %}
	{% trans 'No overviews' %}
{% endfor %}
<a class="right button" {% if request.user.is_authenticated %}href="{% url 'overviews_add' object.pk %}"{% else %}data-reveal-id="sign_overviews"{% endif %}>{% trans "Add overview" %}</a>
