{% load i18n %}

<div class="block_reviews">
	{% for review in reviews %}
		{% include "reviews/includes/reviews_items_list.html" %}
	{% empty %}
		{% trans 'No reviews' %}
	{% endfor %}
	{% if not request.user.is_authenticated %}
		<p>{% trans 'In order to vote, you should ' %}<a href="{% url 'login' %}">{% trans 'authorize' %}</a></p> 
	{% endif %}
</div>