{% load i18n %}
{% if request.user.is_authenticated %}
<div class="panel">
	<div class="title-block margBot20">
		<span class="title">{% trans "Post a comment" %}</span>
	</div>
	<form action="{% url 'reviews_form' %}" method="post" id='reviews-form' class="no-margin" data-abide accept-charset="UTF-8"> {% csrf_token %}
		{{form.content_id}}
		{{form.content_type}}
		{{form.score}}
		<strong style="color: #555555;font-size:0.8125rem;">{% trans "Rate the product" %}:</strong>
		{% include "reviews/includes/ratings_select.html" %}
		<div class="change_form">
			{% include "reviews/ajax/reviews_form.html" %}
		</div>
		
		<input class="button noMargBot" value="{% trans "Send"%}" type="submit" />
			
	</form>
</div>
<div id="add_reviews" class="reveal-modal small text-center" data-reveal> 
	<div class="title-section">{% trans 'Add_reviews' %}</div> 
	<p>{% trans 'You added a new review' %}</p> 
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}