{% load i18n pytils_numeral staticfiles thumbnail %}

<ul class="icon1 sub-icon1 profile_img user-cart">
    <li>
        <a class="active-icon c2" href="{% url 'cart_list' %}">
            <i class="fa fa-shopping-cart"></i>
            <span class="number-items">{{cart.total_quantity}}</span>
        </a>
        <ul class="sub-icon1 list">
            <li><h3>Корзина</h3></li>
            
            {% with cart.total_quantity as quantity %}
                {% if quantity > 0 %}
                <li class="second-title-cart">Последние добавленные товары</li>
                {% endif %}
            {% endwith %}
            
            {% for item in cart.item_set.all %}
                {% if forloop.counter <= 3 %}
                <li class="item-short-cart">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="img-wrap">
                                    <a href="{{item.product.get_absolute_url}}" title="{{item.product.title|striptags}}">
                                    {% if item.product.image %}
                                        {% if item.product.image|is_portrait %}
                                            {% thumbnail item.product.image.file "x53" crop="center" as imt %}
                                                <img class="img-responsive img-item" src="{{ imt.url }}" alt=" "/>
                                            {% endthumbnail %}
                                            {% else %}
                                            {% thumbnail item.product.image.file "68x53" crop="center" as imt %}
                                                <img class="img-responsive img-item" src="{{ imt.url }}" alt=" "/>
                                            {% endthumbnail %}
                                        {% endif %}
                                    {% else %}
                                        <img class="img-responsive" src="{% static "images/no-image.png" %}" alt="" />
                                    {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <a class="title-item-short-cart" href="{{item.product.get_absolute_url}}" title="{{item.product.title|striptags}}">
                                    {{item.product.title|striptags|truncatechars:50}}
                                </a>
                            </div>
                            <div class="col-xs-2"><span class="text-right">x{{item.quantity}}</span></div>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if forloop.last %}
                <li>
                    <div class="text-center">
                        <a class="link-internal go-to-cart margBot10 margTop10" href="{% url 'cart_list' %}"><i class="fa fa-shopping-cart"></i> Перейти в корзину</a>
                    </div>
                </li>
                {% endif %}
            {% empty %}
                {% if not request.user.is_authenticated %}
                <li class="txt-short-cart"><p>если в вашем списке покупок отсутствуют товары, <a href="{% url 'login' %}">войдите в свой аккаунт</a> для просмотра</p></li>
                {% else %}
                <li class="txt-short-cart"><p>{% trans 'Cart empty' %}.</p></li>
                {% endif %}
            {% endfor %}
            
            {% with cart.total_quantity as quantity %}
                {% if quantity > 0 %}
                <li class="second-title-cart">Всего в корзине</li>
                <li style="margin-top:-5px;" class="bg-gray padBot10 text-center">
                    <span class="bold">{{quantity}}</span> {{quantity|choose_plural:"товар,товара,товаров"}} на сумму <span class="bold">{{cart.total_price}} грн.</span>
                </li>
                
                <li class="text-center">
                    {# <a class="btn btn-xs btn-default js-ajax-link" href="javascript:void(0)" data-url="{% url 'clear_cart' %}" data-result=".user-cart" data-replace="1">Очистить корзину</a> #}
                    <a class="btn green-border add-to-cart btn-default margTop10" href="javascript:void(0)"><i class="fa fa-cart-arrow-down"></i> Оформить заказ</a>
                </li>
                {% endif %}
            {% endwith %}
        </ul>
    </li>
</ul>