	<div class="ratings">
		<div class="ratings_static"></div>
		<div class="ratings_part1 ratings_part" value="1"></div>
		<div class="ratings_part2 ratings_part" value="2"></div>
		<div class="ratings_part3 ratings_part" value="3"></div>
		<div class="ratings_part4 ratings_part" value="4"></div>
		<div class="ratings_part5 ratings_part" value="5"></div>
		<div class="ratings_selected"></div>
	</div>