{% load i18n %}

<div class="sb-title">Личный кабинет</div>

<div class="list-group action-nav">
  <a class="list-group-item{% if ActiveProfileSb == "profile" %} active{% endif %}" href="{% url 'userprofiles_profile' %}">
    <i class="fa fa-eye fa-fw"></i> {% trans "View" %}
  </a>
  
  <a class="list-group-item{% if ActiveProfileSb == "profile_change" %} active{% endif %}" href='{% url "userprofiles_profile_change" %}'>
    <i class="fa fa-pencil fa-fw"></i> {% trans 'Change profile' %}
  </a>
  
  <a class="list-group-item{% if ActiveProfileSb == "password_change" %} active{% endif %}" href='{% url "password_change" %}'>
    <i class="fa fa-key fa-fw"></i> {% trans 'Change password' %}
  </a>
  
  <a class="list-group-item{% if ActiveProfileSb == "wishlist" %} active{% endif %}" href='{% url "wishlist" %}'>
    <i class="fa fa-heart-o fa-fw"></i> {% trans 'Списки желаний' %}
  </a>
  
  <a class="list-group-item{% if ActiveProfileSb == "my_orders" %} active{% endif %}" href='#'>
    <i class="fa fa-shopping-cart fa-fw"></i> {% trans 'My orders' %}
  </a>
</div>
