{% load i18n %}


<div id="sign" class="reveal-modal medium" data-reveal> 
	<div class="title-section">{% trans 'Sign in' %}</div> 
	<p>{% trans 'In order to vote, you should ' %}<a href="{% url 'login' %}">{% trans 'authorize' %}</a></p> 
	<a class="close-reveal-modal">&#215;</a>
</div>


<div id="sign_overviews" class="reveal-modal medium" data-reveal> 
	<div class="title-section">{% trans 'Sign in' %}</div> 
	<p>{% trans 'In order to add a review, you should ' %}<a href="{% url 'login' %}">{% trans 'authorize' %}</a></p> 
	<a class="close-reveal-modal">&#215;</a>
</div>