{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock %}

{% block content %}
<h3>{% trans "Error 404" %}</h3>
<h2>{% trans "Page not found" %}</h2>
<p>{% trans 'Please, go to' %}<a href="/">{% trans "Home" %}</a></p>
{% endblock %}
