<!doctype html>{% load i18n staticfiles %}{% load wishlists_tags cart_tags catalog_tags %}
<html class="no-js" lang="{{ LANGUAGE_CODE }}">

<head>{% load seotools_tags %}{% get_seometa_for_this_page as seo %}
    {% block head-meta %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1.0, user-scalable=no">    
    <meta name="keywords" content="{% if seo.keywords %}{{seo.keywords}}{% else %}{% block keywords %}{% endblock %}{% endif %}" />
    <meta name="description" content="{% if seo.description %}{{seo.description}}{% else %}{% block description %}{% endblock %}{% endif %}" />
    {% endblock %}

    {% get_title_for_this_page as custom_title %}
    <title>{% if seo.title %}{{ seo.title }}{% else %}{% block title %}{% trans "Home" %}{% endblock %}{% endif %}{% if not is_homepage %} | {{ site.name }}{% endif %}</title>
    
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png" />

    {% block head-css %}
    <link href="{% static "semantic-ui/dist/semantic.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% endblock %}

    {% block head-js%}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>

<body>
<div class="wrapper">
    <header>
    {#<!-- TOP NAVBAR -->#}
    {% block top-navbar %}
    <nav id="topbar" class="navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                   <ul class="list-inline quick-links">
                       <li><i class="fa fa-phone"></i><span>(044) XXX-XX-XX, (044) XXX-XX-XX</span></li>
                       <li><a href="{% url "pages_page_detail" "dostavka-i-oplata" %}"><i class="fa fa-truck"></i><span>Доставка и оплата</a></span></li>
                       <li><a href="{% url "contact_form" %}"><i class="fa fa-envelope"></i><span>Контакты</a></span></li>
                    </ul>
                </div>
                <div class="col-xs-5">
                    <ul style="margin-right: -10px;" class="list-inline quick-links pull-right">
                       {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li> <a href="{% url "admin:index" %}"><i class="fa fa-male"></i><span>Панель управления</a></span> </li>
                            {% endif %}
                       <li> Здравствуйте, <a href="{{ request.user.get_absolute_url }}">{% firstof request.user.get_full_name request.user.email %}</a></li>
                       <li><a href="{% url 'logout' %}"> <i class="fa fa-sign-out fa-fw"></i> Выход</a> </li>
                       {% else %}
                            <li>Здравствуйте,  <a href="{% url 'login' %}"> <i class="fa fa-fw fa-sign-in"></i>войдите в личный кабинет</a> </li>
                       {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <nav id="topbrend" class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url "home_page" %}"><img src="{% static "images/logo.png" %}" alt="EnergoEcoShop" /></a>
                    </div>
                </div>
    
                <div class="col-xs-6">
                    <div class="search">
                        <form role="search">
                            <input type="text" placeholder="Введите текст для поиска...">
                            <input type="submit" value="">
                        </form>
                   </div>
                </div>
                <div class="col-xs-3">
                	{% if not request.user.is_authenticated %}
                    <div class="create_btn">
                        <a class="arrow"  href="{% url 'userprofiles_registration' %}">Регистрация <i class="fa fa-angle-right"></i></a>
                    </div>
                    {% endif %}
                    
                    {% user_wishlists %}
                    
                    {% show_cart %}
    
                </div>
            </div>
        </div>
    </nav>
    {% endblock top-navbar %}
    
    
    {#<!-- MAIN MENU -->#}
    {% block main-menu %}
    <nav class="navbar main-menu navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-menu">
              <ul class="navbar-nav megamenu skyblue">
                <li{% if ActiveMenu == "bshop_catalog" %} class="active"{% endif %}><a href="{% url 'catalog_index' %}">Каталог продукции<!--span class="sr-only">(current)</span--></a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>shop</h4>
                                    <ul class="sb-nav">
                                        <li><a href="">new arrivals</a></li>
                                        <li><a href="">men</a></li>
                                        <li><a href="">women</a></li>
                                        <li><a href="">accessories</a></li>
                                        <li><a href="">kids</a></li>
                                        <li><a href="">brands</a></li>
                                    </ul>
                                    <a href="#">{% trans "Показать больше " %}<i class="fa fa-fw fa-angle-right"></i>
</a>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>help</h4>
                                    <ul class="sb-nav">
                                        <li><a href="">trends</a></li>
                                        <li><a href="">sale</a></li>
                                        <li><a href="">style videos</a></li>
                                        <li><a href="">accessories</a></li>
                                        <li><a href="">kids</a></li>
                                        <li><a href="l">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>my company</h4>
                                    <ul class="sb-nav">
                                        <li><a href="women.html">trends</a></li>
                                        <li><a href="women.html">sale</a></li>
                                        <li><a href="women.html">style videos</a></li>
                                        <li><a href="women.html">accessories</a></li>
                                        <li><a href="women.html">kids</a></li>
                                        <li><a href="women.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>account</h4>
                                    <ul class="sb-nav">
                                        <li><a href="women.html">login</a></li>
                                        <li><a href="women.html">create an account</a></li>
                                        <li><a href="women.html">create wishlist</a></li>
                                        <li><a href="women.html">my shopping bag</a></li>
                                        <li><a href="women.html">brands</a></li>
                                        <li><a href="women.html">create wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>my company</h4>
                                    <ul class="sb-nav">
                                        <li><a href="women.html">trends</a></li>
                                        <li><a href="women.html">sale</a></li>
                                        <li><a href="women.html">style videos</a></li>
                                        <li><a href="women.html">accessories</a></li>
                                        <li><a href="women.html">kids</a></li>
                                        <li><a href="women.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>popular</h4>
                                    <ul class="sb-nav">
                                        <li><a href="women.html">new arrivals</a></li>
                                        <li><a href="women.html">men</a></li>
                                        <li><a href="women.html">women</a></li>
                                        <li><a href="women.html">accessories</a></li>
                                        <li><a href="women.html">kids</a></li>
                                        <li><a href="women.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                      </div>
                </li>
                {% get_tag_page_menu %}
              </ul>
        </div>
      </div>
    </nav>
    {% endblock main-menu %}
    </header>
    
    
    {#<!-- BREADCRUMBS -->#}
    {% block breadcrumbs %}
    <div class="container">
        <ol class="breadcrumb">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{% url 'home_page' %}" itemprop="url">
                    <span itemprop="title">{% trans "Home" %}</span>
                </a>
            </li>
            {% block crumbs %}{% endblock %}
        </ol>
    </div>
    {% endblock %}
    
    
    {#<!-- CONTENT -->#}
    {% block main %}
        {% block content-top %}{% endblock content-top %}
        <section id="content">
            <div class="container">
                {% include "base_messages.html" %}
                {% block content-full %}
                    <div class="row">
                       <div class="col-xs-9">{% block content %}{% endblock %}</div>
                       <div class="col-xs-3">
                        <div class="sidebar">{% block sidebar-right %}{% endblock %}</div>
                       </div>
                    </div>
                {% endblock content-full %}
            </div>
        </section>
        {% block content-bottom %}{% endblock content-bottom %}
    {% endblock main %}

    {#<!-- FOOTER -->#}
    {% block footer %}
    <footer id="footer">
        <div class="container">&copy;&nbsp;{% now "Y" %} {{ site.name }}. {% trans "All rights reserved" %}.</div>
    </footer>
    {% endblock footer %}
    {#<!-- END FOOTER -->#}
</div>

{% block js-initialize %}
  <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "semantic-ui/dist/semantic.min.js" %}"></script>
  <script src="{% static "semantic-ui/dist/components/transition.js" %}"></script>
  <script src="{% static "semantic-ui/dist/components/dropdown.js" %}"></script>
  <script src="{% static "semantic-ui/dist/components/visibility.js" %}"></script>
  <script src="{% static "semantic-ui/dist/components/search.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/apps.js" %}"></script>
{% endblock %}
</body>
</html>