{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}semantic-ui/dist/semantic.min.css">
</head>
<body>
  {% block wrapper %}{% endblock %}
  <script src="{{STATIC_URL}}jquery/dist/jquery.min.js"></script>
  <script src="{{STATIC_URL}}semantic-ui/dist/semantic.min.js"></script>
  <script src="{{STATIC_URL}}semantic-ui/dist/components/transition.js"></script>
  <script src="{{STATIC_URL}}semantic-ui/dist/components/dropdown.js"></script>
  <script src="{{STATIC_URL}}semantic-ui/dist/components/visibility.js"></script>
  <script src="{{STATIC_URL}}semantic-ui/dist/components/search.js"></script>
  <script src="{{STATIC_URL}}js/main.js"></script>
</body>
</html>