{% extends "userprofiles/profile.html" %}
{% load i18n form_snippets_tags %}
{% block title %}{% trans "Списки желаний" %}{% endblock %}

{% block crumbs %} 
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{% url 'userprofiles_profile' %}" itemprop="url">
        <span itemprop="title">{% trans "My profile" %}</span>
    </a>
</li>
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <span itemprop="title">{% trans 'Списки желаний' %}</span>
</li>  
{% endblock %}

{% block content-title %}{% trans "Списки желаний" %}{% endblock %}

{% block content-body %}
<div class="items-list user-wishlists margBot30">
    {% for wishlist in object_list %}
        {% include "wishlists/includes/wishlist_list_item.html" %}
    {% endfor %}
    <div class="list-empty{% if object_list.count != 0 %} hidden{% endif %}">
        <p>Списки желаний пока не настроены.</p>
        <p>Запланируйте свои покупки с помощью списка желаний.</p>
        <p>Создайте списки желаемых товаров для быстрого доступа к ним в личном кабинете.</p>
    </div>
</div>

<a href="javascript:void(0)" data-target="#wishlistModal" class="btn-default btn btn-add margBot30" data-toggle="modal" data-header="Создать список желаний" data-url="{% url 'wishlist_add' %}">
  <i class="fa fa-plus fa-fw"></i>
 {% trans "Создать список желаний" %}
</a>

{# Wishlist add/edit dialog #}
<div id="wishlistModal" class="modal fade list-edit-dialog" role="dialog" aria-labelledby="wishlistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="wishlistModalLabel">Создать список желаний</h4>
        </div>
        <div class="modal-body">
           {% include "wishlists/wishlist_form.html" %}
        </div>
        <div class="modal-footer">
           <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
           <button class="btn btn-primary">{% trans "Save" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar-right %}
    {% with ActiveProfileSb="wishlist" %}
        {% include "userprofiles/includes/left_menu_profile.html" %}
    {% endwith %}
{% endblock sidebar-right %}