{% load i18n %}
{% load url from future %}
{% load wishlists_tags %}

{% comment %}
{% block htmltitle %}{% trans 'Wishlist' %}{% endblock %}
{% block title %}{% trans 'Wishlist' %}{% endblock %}
{% endcomment %}

<ul class="list-unstyled items-list">
    {% for wishlist_item in object_list %}
        <li class="list-item">
        	<a href="javascript:void(0)" class="pull-right item-remove" title="{% trans 'Delete' %}" data-url="{% url 'wishlist_remove' wishlist_item.pk %}"><i class="fa fa-remove"></i></a>
            <a href="{{ wishlist_item.product.get_absolute_url }}"><i class="fa fa-shopping-cart"></i> {{ wishlist_item }}</a>
            {#{% wishlist_remove_form wishlist_item.item %}#}
        </li>
        {% if forloop.last %}
        <li class="list-empty hidden">
	        <p>Список пуст</p>
	    </li>
        {% endif %}
    {% empty %}
    <li class="list-empty">
        <p>Список пуст</p>
    </li>
    {% endfor %}
</ul>

<nav>
    {#<p><a href="{% url 'wishlist_add' %}">{% trans 'Add item to wishlist' %}</a></p>#}
    <p><a href="javascript:void(0)" class="js-ajax-link" data-result=".wishlist-items" data-method="POST" data-url="{% url 'wishlist_clear' current_wishlist.pk %}"><i class="fa fa-remove"></i> {% trans 'Очистить' %}</a></p>
</nav>