{% load i18n %}
{% if request.user.is_authenticated %}
<div class="row">
	<div class="body-field small-12 columns">
		<label for="id_body_html" {% if form.body_html.errors %}class="error"{% endif %}>
			{{ form.body_html.label }}
		</label>
		{{ form.body_html }}
		{{ form.body_html.errors }}
		<small class="error">{% trans "This field is required." %}</small>
	</div>
</div>
<div class="row">
	<div class="advantages_html-field small-12 columns">
		<label for="id_advantages_html" {% if form.advantages_html.errors %}class="error"{% endif %}>
			{{ form.advantages_html.label }}
		</label>
		{{ form.advantages_html }}
		{{ form.advantages_html.errors }}
	</div>
</div>
<div class="row">
	<div class="disadvantages_html-field small-12 columns">
		<label for="id_disadvantages_html" {% if form.disadvantages_html.errors %}class="error"{% endif %}>
			{{ form.disadvantages_html.label }}
		</label>
		{{ form.disadvantages_html }}
		{{ form.disadvantages_html.errors }}
	</div>
</div>
{% endif %}

