{% extends "pages/base.html" %}
{% load i18n %}

{% block title %}{% trans "Pages" %}{% endblock %}

{% block content %}
    <h1>{% trans "Pages" %}</h1>
    {% for page in page_list %}<a href="{{ page.get_absolute_url }}">{{ page.title }}</a>{% endfor %}
{% endblock %}

{% block crumbs %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{% url 'pages_page_list' %}" itemprop="url">
        <span itemprop="title">{% trans "Pages" %}</span>
    </a>
</li>
{% endblock %}
