{% extends "pages/base.html" %}
{% load i18n %}

{% block main-menu %} {% with ActiveMenu=object.slug %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
    <h1>{{ object.title|striptags|safe }}</h1>
	<div class="body-html margBot30">{{ object.body_html|safe }}</div>
{% endblock %}

{% block crumbs %}
<li>
    <a href="{{ object.get_absolute_url }}" itemprop="url">
        <span itemprop="title">{{ object.title|striptags|safe }}</span>
    </a>
</li>
{% endblock %}