{% extends "base.html" %}
{% load catalog_tags %}

{% block main-menu %}{% with ActiveMenu="bshop_catalog" %}{{ block.super }}{% endwith %}{% endblock %}

{% block content-full %}
    <div class="row">
       <div class="col-xs-9 col-xs-push-3">{% block content %}{% endblock %}</div>
       <div class="col-xs-3 col-xs-pull-9">
           <div class="sidebar">
           {% block sidebar-right %}
           {% categories %}
           {% brands %}
           {% endblock %}
           </div>
        </div>
    </div>
{% endblock content-full %}