{% extends "catalog/base.html" %}

{% load i18n thumbnail staticfiles %}

{% block crumbs %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{% url 'home_page' %}" itemprop="url">
        <span itemprop="title">Каталог товаров</span>
    </a>
</li>
{% endblock %}

{% block content-full %}
<div class="clearfix margBot20">
<h1 class="category-title">Все категории</h1>

{% for category in category_list %}
    {% if forloop.counter0|divisibleby:"4" or forloop.first %}<div class="row">{% endif %}
    <div class="col-xs-3">
        <div class="category-list-item">
            <div class="img-wrap">
            {% if category.image %}
                {% if category.image|is_portrait %}
                    {% thumbnail category.image.file "x191" crop="top" as imt %}
                        <img class="img-responsive img-item" src="{{ imt.url }}" alt=""/>
                    {% endthumbnail %}
                    {% else %}
                    {% thumbnail category.image.file "276x191" crop="top" as imt %}
                        <img class="img-responsive img-item" src="{{ imt.url }}" alt=""/>
                    {% endthumbnail %}
                {% endif %}
            {% else %}
                <img class="img-responsive with-border" src="{% static "images/no-image.png" %}" alt="" />
            {% endif %}
            </div>
            <div class="title-wrap-list-item">
                <a class="title-list-item h4" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
            </div>
            <div class="list-group sub-category-list">
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
            
        </div>
    </div>
    {% if forloop.counter|divisibleby:"4" or forloop.last %}</div>{% endif %}
{% endfor %}
</div>
{% endblock %}