{% extends "catalog/base.html" %}
{% load i18n thumbnail staticfiles wishlists_tags core_tags pytils_numeral %}

{% block crumbs %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{ object.category.get_absolute_url }}" itemprop="url">
        <span itemprop="title">{{ object.category }}</span>
    </a>
</li>
{% endblock %}

{% block content-full %}
<div class="product-detail clearfix">

    <h1>{{ object.title }}{% if object.part_number %} ({{object.part_number}}){% endif %}</h1>
    {% if object.upc %}<div class="product-cod">Код товара: {{object.upc}}</div>{% endif %}
    <div class="row">
        <div class="col-xs-9">
            <div class="row margBot30">
                <div class="col-xs-5">
                    <div class="img-wrap">
                        {% if object.image %}
                            {% if object.image|is_portrait %}
                                {% thumbnail object.image.file "x256" crop="top" as imt %}
                                    <img class="img-responsive img-item" src="{{ imt.url }}" alt="{{object.image.alt|default:product.title}}"/>
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail object.image.file "354x256" crop="top" as imt %}
                                    <img class="img-responsive img-item" src="{{ imt.url }}" alt="{{object.image.alt|default:product.title}}"/>
                                {% endthumbnail %}
                            {% endif %}
                        {% else %}
                            <img class="img-responsive" src="{% static "images/no-image.png" %}" alt="" />
                        {% endif %}
                    </div>
                </div>
                
                <div class="col-xs-7">
                    <div class="row margBot20">
                        <div class="col-xs-5">
                            <div class="price-item pull-left">{{ object.get_price_out|safe }}</div>
                            {% comment %}
                            <!-- Для акций старая цена -->
                            <div class="price-item price-old pull-left">{{ product.get_price_out|safe }}</div>
                            <!-- Для акций новая цена -->
                            <div class="price-item price-new red pull-left">{{ product.get_price_out|safe }}</div>                            <div class="price-item price-new red pull-left">{{ product.get_price_out|safe }}</div><!-- Для акций новая цена  красного цвета -->
                            {% endcomment %}
                       </div>     
                       <div class="col-xs-7">
                            <div class="row margBot20">
                                <div class="col-xs-5">
                                    <div class="ratings">
                                        <div class="ratings_static"></div>
                                        <div class="ratings_displayed" style="width: 80%"></div>
                                    </div>
                                    <br class="clear">
                                    <div class="meta-info review">
                                        <a href="#"><i class="fa fa-comments-o"></i> 500 отзывов</a>
                                    </div>
                                </div>
                                <div class="col-xs-7 to-wishlist-wrap">
                                    {% if user.is_authenticated %}
        					        	{% with user|wishlists as wishlist_set %}
        					        	{% with object|get_content_type as ctype %}
        						        	{% if wishlist_set|length <= 1 %}
        						            <a class="to-wishlist js-ajax-link" href="javascript:void(0)" data-result=".wishlists-popup .list" data-url="{% url 'wishlist_add_item' ctype object.pk %}" data-callback="$('.wishlists-popup .list').classFade('hovered', 2000)"><i class="fa fa-heart-o"></i> Отложить</a>
        						            {% else %}
        						            <div class="dropup">
        						            	<a class="to-wishlist" href="javascript:void(0)" id="wish_{{product.pk}}" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-heart-o"></i> Отложить</a>
        						            	<ul class="dropdown-menu" role="menu" aria-labelledby="wish_{{object.pk}}">
        						            		{% for w in wishlist_set %}
        						            		<li role="presentation"><a role="menuitem" class="js-ajax-link" tabindex="-1" href="javascript:void(0)" data-result=".wishlists-popup" data-url="{% url 'wishlist_add_item_concrete' ctype product.pk w.id %}" data-callback="$('.wishlists-popup .list').classFade('hovered', 2000)">{{w.name}}</a></li>
        						            		{% endfor %}
        						            	</ul>
        						            </div>
        						            {% endif %}
        					            {% endwith %}
        					            {% endwith %}
        				            {% else %}
        				            <a class="to-wishlist" href="{% url 'login' %}"><i class="fa fa-heart"></i> В список желаний</a>
        				            {% endif %}
                                    <span class="fs12">{{ object|wishlist_item_count }} {{ object|wishlist_item_count|choose_plural:"раз,раза,раз" }} отложено</span>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-xs-5">
                                     <span class="red product-status">Товар заканчивается!</span>
                                 </div>
                                <div class="col-xs-7">
                                    <a {# onclick="cart_edit('{% url "add_product" object.pk %}', {{object.pk}}); " #} class="ajax cart_ajax btn green-border add-to-cart btn-default js-ajax-link" href="javascript:void(0)" data-url="{% url "add_product" object.pk %}" data-result=".user-cart" data-callback="$('.user-cart .list').classFade('hovered', 2000)" data-replace="1"><i class="fa fa-cart-plus"></i> Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="clearfix bottom-product-item more-descr-item clearfix">
                        <ul class="list-unstyled ">
                            <li><span>Питание:</span>  Никель-кадмиевый аккумулятор</li>
                            <li><span>Тип патрона:</span> Быстрозажимной</li>
                            <li><span>Ключевые особенности:</span> Реверс</li>
                            {% if object.brand %}<li><span>Производитель:</span> <a href="{{ object.brand.get_absolute_url }}">{{ object.brand }}</a></li>{% endif %}
                        </ul>
                     </div>
                     
                </div>
            </div>
       </div>
       <div class="col-xs-3"></div>
    </div>

    
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#"><i class="fa fa-newspaper-o"></i> Описание</a></li>
      <li role="presentation"><a href="#"><i class="fa fa-bars"></i> Характеристики</a></li>
      <li role="presentation"><a href="#"><i class="fa fa-comments-o"></i> Отзывы покупателей (0)</a></li>
      <li role="presentation"><a href="#"><i class="fa fa-truck"></i> Оплата и доставка</a></li>
    </ul>
    
    <div class="description clearfix">
        {# <!-- Описание --> #}
        {# {{ object.body_html|safe }} #}
        
        {# <!-- Характеристики --> #}
        {% comment %}
        {# <dl class="dl-horizontal info-list margBot40">
            <dt>Имя:</dt>
            <dd>Administrator Admin</dd>
            
            <dt>Тип</dt> 
            <dd>конвекционный (отопительный)</dd>
            
            <dt>Способ установки:</dt>
            <dd>настенный</dd>
            
            <dt>Тип дымохода</dt>
            <dd>дымоходный (естественная тяга)</dd>
            
            <dt>Тепловая мощность</dt>
            <dd>28 кВт</dd>
 
            <dt>Количество контуров</dt> 
            <dd>двухконтурный (отопление+ГВС)</dd>
            
            <dt>Тип розжига</dt> 
            <dd>электронный (автоматический)</dd>
            
            <dt>Тип камеры</dt> 
            <dd>сгорания открытая</dd>
            
            <dt>Материал</dt> 
            <dd>теплообменника медь</dd>
            
            <dt>Особенности</dt>
            <dd><p>Тепловая мощность в режиме ГВС: 28 кВт</p>
            <p>Производительность по горячей воде (при нагреве на ΔT=30°C): 1,5-13,4 л/мин</p>
            <p>Температура дымовых газов мин/макс: 90/125 °C</p>
            <p>Массовый расход дымовых газов мин/макс: 16,9/18,9 г/с</p>
            <p>Выбросы NOx: 140 мг/кВтч</p>
            <p>Остаточный напор циркуляционного насоса: 350 мбар</p>
            <p>Макс. температура подающей магистрали: 75-85 °C</p>
            <p>Температура горячей воды: 35-65 °C</p>
            <p>Объем расширительного бака: 10 л</p>
            <p>Макс. рабочее давление в конт. отопления: 3 бар</p>
            <p>Макс. рабочее давление в конт. водоснабжения: 10 бар</p>
            <p>Номинальный расход отопительной воды: 1203 л/ч</p>
            <p>Подключение к электросети: 230 В /50 Гц</p>
            <p>Потребление электроэнергии, не более: 97 Вт</p>
            <p>Дымоход: 130 мм</p>
            <p>Газопровод: 15 мм</p>
            <p>Контуры отопления и ГВС: G 3/4"</p>
            </dd>
        </dl>
        {% endcomment %}
        
        {# <!-- Отзывы покупателей --> #}
        <div class="row">
            <div class="col-xs-7">
                <div class="h3 margTop5">Отзывы покупателей <small>(2 отзыва)</small></div>
                {# <p>Пока нет отзывов о товаре.</p> #}
                <div class="media-list margBot15 clearfix">
                    <div class="ratings">
                        <div class="ratings_static"></div>
                        <div class="ratings_displayed" style="width: 80%"></div>
                    </div>
                    <div class="clear"></div>
                    
                    <div class="media-list-item">
                        <div class="margBot5 clearfix">
                            <span class="bold">Имя пользователя</span>
                            <small class="date">2 июня 2014</small>
                            <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="margBot10">Котлом очень доволен. Отработал сезон, нареканий нету. Из минусов могу сказать, немного шумноватая турбина, а так котел супер... <a class="link-internal" href="">Показать больше...</a></div>
                        <a class="link-internal" href="#"><i class="fa fa-share"></i> Ответить</a>
                    </div>
                    
                    <div class="media-list-item">
                        <div class="margBot5 clearfix">
                            <span class="bold">Имя пользователя</span>
                            <small class="date">2 июня 2014</small>
                            <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="margBot10">Котлом очень доволен. Отработал сезон, нареканий нету. Из минусов могу сказать, немного шумноватая турбина, а так котел супер... <a class="link-internal" href="">Показать больше...</a></div>
                        <a class="link-internal" href="#"><i class="fa fa-share"></i> Ответить</a>
                    </div>
                </div>
                <a class="pull-right" href="#">Смотреть все отзывы <i class="fa fa-angle-right fa-fw"></i></a>
            </div>
            <div class="col-xs-5">
                <div class="sidebar">
                    <div class="sb-title">Оставить отзыв</div>
                    <form action="" class="margLeft15 margRight15 clearfix" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="comment">Комментарий</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="username">Ваше имя</label>
                            <input type="text" class="form-control" id="username" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="usermail">Ваш e-mail</label>
                            <input type="email" class="form-control" id="usermail" placeholder="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="" value="">
                                Получать уведомления об ответах по эл. почте.
                            </label>
                        </div>
                        <button class="btn btn-default margBot15 pull-right" type="submit">{% trans "Оставить комментарий" %}</button>
                    </form>
                </div>
            </div>
        </div>
        
        {# <!-- Оплата и доставка --> #}
        {% comment %}
        <h2>Доставка в отделения Новой Почты по всей Украине</h2>
<p>С помощью доставки Новой почтой, Вы можете получить товар даже в самых отдаленных уголках Украины</p>
<p>В среднем, доставка занимает 1-3 дня, во время заказа наши менеджеры согласуют с Вами дату доставки перед отправкой товара.</p>
<p>Стоимость доставки товаров Новой почтой в отделение составляет 35 грн</p>
<p>Стоимость доставки крупногабаритных товаров составляет 80 грн</p>
<p>Стоимость доставки товаров из раздела «Бытовая техника и интерьер» рассчитывается индивидуально.</p>
        {% endcomment %}

    </div>
</div>
    
{% endblock %}
