<div class="sb-title">Производители</div>
<ul class="nav nav-pills sb-nav nav-stacked">
	{% for b in brands %}
	<li{% if b.pk == active %} class="active"{% endif %}><a href="{{b.get_absolute_url}}">{{b.title}}</a></li>
	{% empty %}
	<li>Нет производителей</li>
	{% endfor %}
</ul>