<div class="sb-title margBot0">Все категории</div>
<ul class="nav nav-pills sb-nav nav-stacked">
	{% for c in categories %}
	<li{% if c.pk == active %} class="active"{% endif %}><a href="{{c.get_absolute_url}}">{{c.title}}</a></li>
	{% empty %}
	<li>Нет категорий</li>
	{% endfor %}
	<li><a href="">Категория с вложенными подкатегориями</a>
        <div class="children-wrap clearfix">
            <div class="row">
                <div class="col-xs-5">
                    <ul class="children">
                        <li><a title="Фруктовые консервы" href="/fruktovye-konservy/">Фруктовые консервы</a></li>
                        <li><a title="Рыбные консервы" href="/rybnye-konservy/">Рыбные консервы</a></li>
                        <li><a title="Овощные консервы" href="/ovoshnye-konservy/">Овощные консервы</a></li>
                        <li><a title="Молочные консервы" href="/molochnye-konservy/">Молочные консервы</a></li>
                    </ul>
                </div>
                <div class="col-xs-7"> 
                    <div class="promo clearfix">
                        <div class="promo-title h4"><a href="#">Здесь может быть место для рекламы</a></div>
                    </div>
                </div> 
            </div>
        </div>
	</li>
</ul>
