{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block crumbs %} 
<li  itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <span itemprop="title">{% trans "Вы не авторизированы" %}</span>
</li>
{% endblock %}

{% block content %}
<h1>{% trans "Вы не авторизированы" %}</h1>
<p>{% trans "You are not logged in" %}.</p>
<p>{% trans "Go to" %} <a href="/">{% trans "home" %}</a>.</p>
<p class="margBot40">{% trans "Go to" %} <a href="{% url 'login' %}">{% trans "authorization form" %}</a> {% trans "or" %} <a href="{% url 'userprofiles_registration' %}">{% trans "registration form" %}</a>.</p>
{% endblock %}