{% extends "base.html" %}
{% load i18n form_snippets_tags %}
{% load url from future %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block crumbs %}
<li  itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <span itemprop="title">{% trans "Login" %}</span>
</li>
{% endblock %}

{% block content-full %}
<h1>Вход в личный кабинет</h1>
<div class="row margBot30">
    <div class="col-xs-5">
        <form action="." method="post">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-group">
            	{{f.label_tag}}
            	{{f|css_class:"form-control"}}
            	{{f.errors}}
            </div>
            {% endfor %}
            <ul class="list-unstyled fs13">
                <li><a href="{% url 'userprofiles_registration' %}">{% trans "No account? Register here." %}</a></li>
                <li><a href="{% url 'password_reset' %}">{% trans "No Password? Reset your password here." %}</a></li>
            </ul>
            <button class="btn btn-default pull-right" type="submit">{% trans "Login" %}</button>
        </form>
    </div>
</div>
{% endblock %}
