{% extends "base.html" %}
{% load i18n form_snippets_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block crumbs %} 
	<li class="current"><span>{% trans "Reset password" %}</span></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="medium-6 large-8 medium-centered columns">
		<div class="block-flat">
		    {% if validlink %}
		        <form action="." method="post">
		            {% csrf_token %}
		            <fieldset>
		            	<legend>{% trans "Reset password" %}</legend>
		                {% for f in form %}
			            <div class="form-group">
			            	{{f.label_tag}}
			            	<div class="input-group">
			            		{{f|css_class:"form-control"}}
			            	</div>
			            	{{f.errors}}
			            </div>
			            {% endfor %}
		            </fieldset>
		            <fieldset class="submit-row">
		                <p><button type="submit" class="btn btn-default btn-success">{% trans "Change password" %}</button></p>
		            </fieldset>
		        </form>
		    {% else %}
		        <p>
		            {% blocktrans %}The reset link is invalid. Please double check the link.{% endblocktrans %}
		        </p>
		    {% endif %}
		</div>
	</div>
</div>
{% endblock %}
