{% extends "userprofiles/profile.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block crumbs %} 
	<li class="current"><span>{% trans "Change password" %}</span></li>
{% endblock %}

{% block content-body %}
<fieldset>
	<legend>{% trans "Change password" %}</legend>
    <p>{% blocktrans %}We successfully changed your password.{% endblocktrans %}</p>
</fieldset>
{% endblock %}

{% block sidebar-right %}
    {% with ActiveProfileSb="password_change" %}
        {% include "userprofiles/includes/left_menu_profile.html" %}
    {% endwith %}
{% endblock sidebar-right %}