{% extends "base.html" %}
{% load i18n form_snippets_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block crumbs %}
<li  itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <span itemprop="title">{% trans "Reset password" %}</span>
</li>
{% endblock %}

{% block content-full %}
<h1>{% trans "Reset password" %}</h1>
<div class="row margBot30">
    <div class="col-xs-5">
        <form action="." method="post">
            {% csrf_token %}
            <fieldset class="noMargBot">
                {% for f in form %}
                <div class="form-group">
                	{{f.label_tag}}
                	{{f|css_class:"form-control"}}
                	{{f.errors}}
                </div>
                {% endfor %}
            </fieldset>
            <fieldset class="submit-row noMargBot">
                <p><button class="btn btn-default btn-success pull-right" type="submit">{% trans "Reset password" %}</button></p>
            </fieldset>
        </form>
	</div>
</div>
{% endblock %}
