{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block crumbs %} 
	<li class="current"><span>{% trans "Reset password" %}</span></li>
{% endblock %}

{% block content %}
<div class="block-flat">
	<fieldset>
		<legend>{% trans "Reset password" %}</legend>
	</fieldset>
    <p>
        {% blocktrans %}We send you a e-mail including a link. Please click the
        link to continue resetting your password. Thank you!{% endblocktrans %}
    </p>
</div>
{% endblock %}
