{% extends "userprofiles/profile.html" %}
{% load i18n form_snippets_tags %}
{% block title %}{% trans "Change profile" %}{% endblock %}


{% block crumbs %} 
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{% url 'userprofiles_profile' %}" itemprop="url">
            <span itemprop="title">{% trans "My profile" %}</span>
        </a>
    </li>
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <span itemprop="title">{% trans "Change profile" %}</span>
    </li>
{% endblock %}

{% block content-title %}{% trans "Change profile" %}{% endblock %}

{% block content-body %}
<form action="." class="profile-form margBot40" enctype="multipart/form-data" method="post">
<div class="row">
{% if settings.USERPROFILES_REGISTRATION_FULLNAME %}
<div class="col-xs-6">
	<div class="form-group">
		<label {% if form.first_name.errors %}class="error"{% endif %} for="id_first_name">{{ form.first_name.label }}:</label>
			{{ form.first_name|css_class:"form-control" }}
		{{ form.first_name.errors }}
	</div>
	<div class="form-group">
		<label {% if form.last_name.errors %}class="error"{% endif %} for="id_last_name">{{ form.last_name.label }}:</label>
			{{ form.last_name|css_class:"form-control" }}
		{{ form.last_name.errors }}
	</div>
</div>
{% endif %}
<div class="col-xs-6">
	<div class="form-group">
		<label {% if form.gender.errors %}class="error"{% endif %} for="id_sex">{{ form.gender.label }}:</label>
			{{ form.gender|css_class:"form-control" }}
		{{ form.gender.errors }}
	</div>
	<div class="form-group">
		<label {% if form.birthdate.errors %}class="error"{% endif %} for="id_bdate">{{ form.birthdate.label }}:</label>
			{{ form.birthdate|css_class:"form-control date" }}
		{{ form.birthdate.errors }}
	</div>
</div>
</div> 
<button type="submit noMargBot" class="btn-default btn">{% trans "Change profile" %}</button>

{# { form.as_p } #}
{% csrf_token %} 

</form>    
    
{% endblock %}

{% block js-initialize %}
    {{block.super}}
    {{ form.media }}
{% endblock %}

{% block sidebar-right %}
    {% with ActiveProfileSb="profile_change" %}
        {% include "userprofiles/includes/left_menu_profile.html" %}
    {% endwith %}
{% endblock sidebar-right %}