{% extends "base.html" %}{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load profile_tags %}

{% block title %}{% trans "My profile" %}{% endblock %}

{% block crumbs %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <span itemprop="title">{% trans "My profile" %}</span>
</li>
{% endblock %}

{% block content %}
    <h1>{% block content-title %}{% trans "User profile" %}{% endblock %}</h1>
    {# % user_avatar % #}
    
    {% block content-body %}
    <dl class="dl-horizontal profile-list margBot40">
      <dt>Имя:</dt>
      <dd>{{ u_profile.get_full_name }}</dd>
      
      {% if u_profile.gender %}
      <dt>Пол:</dt>
      <dd>{{ u_profile.get_gender_display }}</dd>
      {% endif %}
      
      {% if u_profile.birthdate %}
      <dt>{% trans "Birthday" %}:</dt>
      <dd>{{ u_profile.birthdate }}</dd>
      {% endif %}
      
      <dt>Электронная почта:</dt>
      <dd>{{ u_profile.email }}</dd>
      
      <dt>Телефон:</dt>
      <dd>+38(067)777-27-27</dd>
      
      <dt>Адреса для доставки:</dt>
      <dd class="margBot10">Винница Винницкая обл. Винница р-н, ул.Ватутина, д.52 кв.53s</dd>
      <dd class="margBot10">Киев , дом 800м от ул. Днепроводская (садовое товарищество Лісова Поляна-2), д.участок 21</dd>
    </dl>
    {% endblock %}
{% endblock content %}

{% block sidebar-right %}
    {% with ActiveProfileSb="profile" %}
        {% include "userprofiles/includes/left_menu_profile.html" %}
    {% endwith %}
{% endblock sidebar-right %}




