{% extends 'base.html' %}


{% block content %}

{% load i18n %}
    {% if products %}
        <section>
            <div>
                <ol class="row">
                    {% for product in products %}
                        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{{ product.get_titile }}</li>
                    {% endfor %}
                </ol>
            </div>
        </section>
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

{% endblock %}